<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/markerclusterer_compiled.js"></script>
    <script src="javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        initialize("top", "<%= userName %>");
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container">
      <!--
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="hero-unit span10">
          <h1>エアーさんぽ。（仮）</h1>
          &nbsp;
          <p>お腹まわりが気になるあなた。とりあえず軽い運動 <span style="font-size: x-large; color: #0066ff;">"さんぽ"</span>から初めてみませんか？<br/>なんと部屋にいながら"さんぽ"できます！ </p>
        </div>
        <div class="span1"></div>
      </div>
      -->

      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span8">
          <!-- Starting -->
          <div class="row-fluid">
            <div class="span12" style="margin-top: 60px">
              <div class="loading"><img src="images/loading.gif" /></div>
              <div id="startingCourseContainer" class="thumbnail" style="position: relative">
                <div id="startingCourse">&nbsp;</div>
                <img src="images/close.png"></img>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12" style="margin-bottom: 30px">
              <h4 calss="text-info"><blockquote>エアーさんぽ（仮）とは</blockquote></h4>
              <p>エアーさんぽ（仮）は見るだけで<strong>散歩した気になれる</strong>サイトです。
              未だ見ぬ土地を散歩してみましょう。<br><br>
              また、あなたオリジナルのさんぽコースを<strong>簡単に作ることが可能</strong>です。（要ユーザー登録）<br>
              作ったさんぽコースは即座に公開できます。
              <br><br>
              詳しくは<a href="/about">『このサイトについて』</a>をご覧ください。
              <br>&nbsp;</p>
              <hr>
              <div id="searchCourse"></div>  <!-- 「さんぽコースを探す」 -->
            </div>
          </div>

          <div class="row-fluid">
            <div class="loading span6"><img src="images/loading.gif" /></div>
            <div class="loading span6"><img src="images/loading.gif" /></div>
          </div>

          <!-- コース表示 -->
          <div class="row-fluid">
            <div class="span12">
              <h4 calss="text-info"><blockquote>最近の人気コース</blockquote></h4>
              <ul class="thumbnails">
                <li id="thumbnail1" class="span6" >
                  <div class="thumbnail">
                    <div id="course1" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount1"></span>
                      <p style="text-align: center"><a href="/play" id="btnCourse1" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
                <li id="thumbnail2" class="span6">
                  <div class="thumbnail">
                    <div id="course2" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount2"></span>
                      <p style="text-align: center"><a href="/play" id="btnCourse2" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
              </ul>

              <ul class="thumbnails">
                <li id="thumbnail3" class="span6">
                  <div class="thumbnail">
                    <div id="course3" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount3"></span>
                      <p style="text-align: center"><a href="/play" id="btnCourse3" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
                <li id="thumbnail4" class="span6">
                  <div class="thumbnail">
                    <div id="course4" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount4"></span>
                      <p style="text-align: center"><a href="/play?no=4" id="btnCourse4" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="pagination" class="pagination">
              <ul></ul>
            </div>
          </div>
        </div>

        <!-- Side Bar -->
        <div class="span2" style="margin-top: 60px">
          <div id="loginBox" class="sbox">
            <h2 style="text-align:center;">ログイン</h2>
            <div class="sboxInner">
              <button id="btnSignup" class="btn btn-info btn-block">新規登録（無料）</button>
              <p>登録するとオリジナルの散歩コースを記録できるようになります。（無料）</p>
              <button id="btnLogin" class="btn btn-info btn-block">ログイン</button>
            </div>
          </div>

          <div id="recordBox" class="sbox">
            <h2 style="text-align:center;"></h2>
            <div class="sboxInner">
              <button id="btnTopRecord" class="btn btn-info btn-block">記録する</button>
              <p>オリジナルのさんぽコースを簡単に記録できます。</p>
              <button id="btnMycourse" class="btn btn-info btn-block">マイコース</button>
              <p>あなたのさんぽコースを確認できます。</p>
            </div>
          </div>

          <div class="sbox">
            <h2 style="text-align:center;">新着</h2>
            <div class="sboxInner">
              <ul class="unstyled" id="newArrivalList"></ul>
              <div style="text-align: right"><a href="#">&raquo; もっと見る (123)</a></div>
            </div>
          </div>
        </div><!-- /span2 -->

        <div class="span1"></div>
      </div>
    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container"></div>
  </body>
</html>
