<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        initialize("top", "<%= userName %>");
      });

    </script>
    <title>エアーさんぽ。</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container">
      <!--
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="hero-unit span10">
          <h1>エアーさんぽ。（仮）</h1>
          &nbsp;
          <p>お腹まわりが気になるあなた。とりあえず軽い運動 <span style="font-size: x-large; color: #0066ff;">"さんぽ"</span>から初めてみませんか？<br/>なんと部屋にいながら"さんぽ"できます！ </p>
        </div>
        <div class="span1"></div>
      </div>
      -->

      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span8">
          <!-- Starting -->
          <div class="row-fluid">
            <div class="span12" style="margin-top: 60px">
              <div class="loading"><img src="images/loading.gif" /></div>
              <div id="startingCourseContainer" class="thumbnail" style="position: relative">
                <div id="startingCourse"></div>
                <img src="images/close.png"></img>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12" style="margin-bottom: 30px">
              <h4 calss="text-info"><blockquote>エアーさんぽ（仮）とは</blockquote></h4>
              <p>エアーさんぽ（仮）は見るだけで<strong>散歩した気になれる</strong>サイトです。
              未だ見ぬ土地を散歩してみましょう。<br><br>
              また、あなたオリジナルのさんぽコースを作ることも可能です。（要無料登録）<br>
              作ったさんぽコースは即座に公開できます。
              <br><br>
              詳しくは<a href="/about">『このサイトについて』</a>をご覧ください。
              <br>&nbsp;</p>
              <hr>
              <h4 calss="text-info"><blockquote>さんぽコースを探す</blockquote></h4>
              <div class="tabbable" style="margin-bottom: 18px;">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tabSearch" data-toggle="tab">検索</a></li>
                  <li><a href="#tabRanking" data-toggle="tab">ランキング</a></li>
                  <li><a href="#tabCategory" data-toggle="tab">カテゴリ</a></li>
                  <li><a href="/random" id="tabRandom">ランダム</a>
                </ul>
                <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                  <div class="tab-pane active" id="tabSearch">
                    <form method="post" action="/search" id="navSearchForm" class="form-search navbar-form">
                      <p><strong>地名</strong>や<strong>観光名所</strong>などのキーワードを入力して検索してください。おもしろいさんぽコースが見つかもしれません！</p>
                      <p>入力例： 世界遺産、南極、グランドキャニオン・・・
                      <div class="input-append">
                        <input type="text" id="txtNavSearch" name="txtNavSearch" class="input-medium search-query span12" placeholder="地名、観光名所・・・">
                        <button id="btnNavSearch" class="btn"><i class="icon-search"></i></button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane" id="tabRanking">
                    <ul class="nav nav-pills">
                      <li><a href="/ranking?r=today"><strong>今日</strong>の再生回数ランキング</a></li>
                      <li><a href="/ranking?r=week"><strong>最近1週間</strong>の再生回数ランキング</a></li>
                      <li><a href="/ranking?r=month"><strong>最近１ヶ月</strong>の再生回数ランキング</a></li>
                      <li><a href="/ranking?r=all"><strong>総合</strong>再生回数ランキング</a></li>
                    </ul>
                  </div>
                  <div class="tab-pane" id="tabCategory">
                    <ul>
                      <li>世界遺産</li>
                      <li>～～～</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="loading span6"><img src="images/loading.gif" /></div>
            <div class="loading span6"><img src="images/loading.gif" /></div>
          </div>

          <!-- コース表示 -->
          <div class="row-fluid">
            <div class="span12">
              <h4 calss="text-info"><blockquote>最近の人気コース</blockquote></h4>
              <ul class="thumbnails">
                <li id="thumbnail1" class="span6" >
                  <div class="thumbnail">
                    <div id="course1" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount1"></span>
                      <p style="text-align: center"><a href="/play" id="btnCourse1" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
                <li id="thumbnail2" class="span6">
                  <div class="thumbnail">
                    <div id="course2" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount2"></span>
                      <p style="text-align: center"><a href="/play" id="btnCourse2" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
              </ul>

              <ul class="thumbnails">
                <li id="thumbnail3" class="span6">
                  <div class="thumbnail">
                    <div id="course3" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount3"></span>
                      <p style="text-align: center"><a href="/play" id="btnCourse3" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
                <li id="thumbnail4" class="span6">
                  <div class="thumbnail">
                    <div id="course4" class="thumbnail_course"></div>
                    <div class="caption">
                      <h3></h3>
                      <p></p>
                      <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                      <span class="badge badge-important" id="playCount4"></span>
                      <p style="text-align: center"><a href="/play?no=4" id="btnCourse4" class="btn btn-primary btn-large btn-block">散歩する</a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="pagination" class="pagination">
              <ul></ul>
            </div>
          </div>
        </div>

        <!-- Side Bar -->
        <div class="span2" style="margin-top: 60px">
          <div id="loginBox" class="sbox">
            <h2 style="text-align:center;">ログイン</h2>
            <div class="sboxInner">
              <button id="btnSignup" class="btn btn-info btn-block">新規登録（無料）</button>
              <p>登録するとオリジナルの散歩コースを記録できるようになります。（無料）</p>
              <button id="btnLogin" class="btn btn-info btn-block">ログイン</button>
            </div>
          </div>

          <!--
          <div id="aboutBox" class="sbox">
            <h2 style="text-align:center;">このサイトについて</h2>
            <div class="sboxInner">
              <p>「エアーさんぽ。（仮）」は見るだけで運動をした気になれるサイトです。</p>
              <p></strong>詳しくは<a href="/about">『このサイトについて』</a>をご覧ください。</p>
            </div>
          </div>
          -->

          <div class="sbox">
            <h2 style="text-align:center;">新着</h2>
            <div class="sboxInner">
              <ul class="unstyled" id="newArrivalList"></ul>
              <div style="text-align: right"><a href="#">&raquo; もっと見る (123)</a></div>
            </div>
          </div>
        </div><!-- /span2 -->

        <div class="span1"></div>
      </div>

    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container-fluid"></div>
  </body>
</html>
