<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        initialize();
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>
  <body>

    <!-- Navigation Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Air Sampo</a>
          <div class="nav-collapse collapse">
            <ul class="nav" style="width: 85%">
              <li><a href="/record">記録する</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">aaa@bbb.cc <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li style="float: right">
                <form method="post" action="/search" id="navSearchForm" class="form-search navbar-form pull-right">
                  <div id="navSearch" class="input-append">
                    <input type="text" id="txtNavSearch" name="txtNavSearch" class="span2 search-query" placeholder="Search"></input>
                    <button id="btnNavSearch" class="btn"><i class="icon-search"></i></button>
                  </div>
                </form>
              </li>
              <li id="login" style="float: right"><a href="/login">ログイン</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit span10">
        <h1>エアーさんぽ。（仮）</h1>
        &nbsp;
        <p>お腹まわりが気になるあなた。とりあえず軽い運動 <span style="font-size: x-large; color: #0066ff;">"さんぽ"</span>から初めてみませんか？<br/>なんと部屋にいながら"さんぽ"できます！</p>
      </div>

      <div class="row">
        <div class="span1"></div>
        <div class="span8">
          <ul class="thumbnails">
            <li id="thumbnail1" class="span4">
              <div class="thumbnail">
                <div id="course1" class="thumbnail_course"></div>
                <div class="caption">
                  <h3></h3>
                  <p></p>
                  <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                  <span class="badge badge-important" id="playCount1"></span>
                  <p><a href="/play" id="btnCourse1" class="btn btn-primary btn-large">散歩する</a></p>
                </div>
              </div>
            </li>
            <li id="thumbnail2" class="span4">
              <div class="thumbnail">
                <div id="course2" class="thumbnail_course"></div>
                <div class="caption">
                  <h3></h3>
                  <p></p>
                  <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                  <span class="badge badge-important" id="playCount2"></span>
                  <p><a href="/play" id="btnCourse2" class="btn btn-primary btn-large">散歩する</a></p>
                </div>
              </div>
            </li>
          </ul>

          <ul id="thumbnail3" class="thumbnails">
            <li class="span4">
              <div class="thumbnail">
                <div id="course3" class="thumbnail_course"></div>
                <div class="caption">
                  <h3></h3>
                  <p></p>
                  <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                  <span class="badge badge-important" id="playCount3"></span>
                  <p><a href="/play" id="btnCourse3" class="btn btn-primary btn-large">散歩する</a></p>
                </div>
              </div>
            </li>
            <li id="thumbnail4" class="span4">
              <div class="thumbnail">
                <div id="course4" class="thumbnail_course"></div>
                <div class="caption">
                  <h3></h3>
                  <p></p>
                  <span class="label label-inverse" style="margin-bottom: 20px">さんぽ回数</span>
                  <span class="badge badge-important" id="playCount4"></span>
                  <p><a href="/play?no=4" id="btnCourse4" class="btn btn-primary btn-large">散歩する</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- /span8 -->

        <!-- Side Bar -->
        <div class="span2">
          <div class="sbox">
            <h2 style="text-align:center;">このサイトについて</h2>
            <div class="sboxInner">
              <p>「エアーさんぽ。（仮）」は見るだけで運動をした気になれるサイトです。</p>
              <p>すべて無料でご覧いただけます。</strong>より詳しくは<a href="/about">『このサイトについて』</a>をご覧ください。</p>
            </div><!-- /sboxInner -->
          </div><!-- /sbox -->

          <div class="sbox">
            <h2 style="text-align:center;">新着</h2>
            <div class="sboxInner">
              <ul class="unstyled" id="newArrivalList"></ul>
              <div style="text-align: right"><a href="#">&raquo; もっと見る (123)</a></div>
            </div><!-- /sboxInner -->
          </div><!-- /sbox -->
        </div><!-- /span2 -->

        <div class="span1"></div>
      </div><!-- /row -->

      <div class="row">
        <div class="span1"></div>
        <div class="span10">
          <div class="pagination">
            <ul>
              <li class="disabled"><a href="/pagination/prev">Prev</a></li>
              <li class="active"><a href="/pagination/goto?page=1">1</a></li>
              <li><a href="/pagination/goto?page=2">2</a></li>
              <li><a href="/pagination/next">Next</a></li>
            </ul>
          </div>
        </div>
        <div class="span1"></div>
      </div>

    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container">
      <ul>
        <li><a href="/privacy">プライバシーポリシー</a></li>
        <li>|</li>
        <li><a href="/rules">利用規約</a></li>
        <li>|</li>
        <li><a href="/about">エラーさんぽ。（仮）について</a></li>
      </ul>
    </div>
  </body>
</html>
