<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <title>エアーさんぽ。</title>
  </head>
  <body onload="initialize()">

    <!-- Footer -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Air Sampo</a>
          <div class="nav-collapse collapse">
            <ul class="nav" style="width: 85%">
              <li><a href="/record">記録する</a></li>
              <li><a href="/about">このサイトについて</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">aaa@bbb.cc <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li style="float: right"><a href="/login">ログイン</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <p style="margin-top: 60px">Privacy Policy</p>
    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container">
      <ul>
        <li><a href="/privacy">プライバシーポリシー</a></li>
        <li>|</li>
        <li><a href="/rules">利用規約</a></li>
        <li>|</li>
        <li><a href="/about">エラーさんぽ。（仮）について</a></li>
      </ul>
    </div>


    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/airsampo.js"></script>
  </body>
</html>

