<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="stylesheets/jquery.tagit.css">
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/tag-it.min.js"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        var _id = "<%= _id %>";
        initialize("record", _id);
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>

  <body>
    <input type="hidden" id="_id" value="<%= _id %>"></input>

    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container">
      <div class="row">
        <div class="span1"></div>

        <div class="span8" style="margin-top: 50px;">
          <!-- Search -->
          <form class="form-search">
            <div id="searchDiv" class="input-append">
              <input type="text" id="txtSearch" class="span2 search-query" placeholder="Search">
              <button id="btnSearch" class="btn"><i class="icon-search"></i></button>
            </div>
            <button id="btnHere" class="btn" data-original-title="現在地">現在地</button>

          </form>

          <!-- Map & StreetView -->
          <div id="view">
            <div class="row">
              <div id="streetview" class="span5"></div>
              <div id="map_canvas" class="span3"></div>
            </div>
          </div>

          <!-- Control Button -->
          <div id="control">
            <div style="margin-left: 21%; margin-top: 5px">
              <div style="float: left"><button name="btnRecord" id="btnRecord" class="btn btn-danger controlBtn" data-original-title="記録"><i class="icon-facetime-video icon-white"></i></button></div>
              <div style="float: left"><button name="btnPlay" id="btnPlay" class="btn btn-info controlBtn" disabled data-original-title="再生" disabled><i class="icon-play icon-white"></i></button></div>
              <div style="float: left"><button name="btnStop" id="btnStop" class="btn btn-primary controlBtn" disabled data-original-title="停止"><i class="icon-stop icon-white"></i></button></div>
              <span style="margin-top: 10px; float:left">　再生速度: </span>
              <div style="float: left"><div id="playSpeedSlider"></div></div>
              <div id="distance" style="float: left"></div>
              <div><img src="images/running.gif" id="running" style="display: none;"></img></div>
              <div style="clear: left"></div>
            </div>
            <div id="panoramaSlider"></div>
          </div>
          <div id="message" class="alert alert-error fade in" style="display:none; margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            再生データがありません。
          </div>

          <div style="border: solid 1px;margin-top: 10px">
            <form method="post" action="/save" id="saveForm" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">タイトル</label>
                <div class="controls">
                  <input type="text" id="txtTitle" name="txtTitle" value="<%= title %>" class="span4" placeholder="Title"></input>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">説明文とか</label>
                <div class="controls">
                  <textarea id="txtDescription" name="txtDescription" class="span5" rows="3" placeholder="Description"><%= description %></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">タグ</label>
                <div class="controls">
                  <!-- <input type="text" id="txtTag" name="txtTag" value="" class="span4" placeholder="Tag"></input> -->
                  <ul id="tagList" style="margin-left: 0;" class="span4"></ul>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button id="btnSave" id="btnSave" class="btn-large btn-inverse" data-original-title="確定"><i class="icon-thumbs-up icon-white"></i>&nbsp;確定</button>
                </div>
              </div>
            </form>
          </div>

        </div>

        <!-- Side Bar -->
        <div class="span2" style="margin-top: 100px;">
          <div class="sbox">
            <h2 style="text-align:center;">おすすめ</h2>
            <div class="sboxInner">
              <ul class="unstyled" id="recommendList"></ul>
              <div style="text-align: right"><a href="#">&raquo; もっと見る (123)</a></div>
            </div><!-- /sboxInner -->
          </div><!-- /sbox -->
        </div>

        <div class="span1"></div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="container"></div>

<!--
    <br/><hr/>
    緯度: <input type="text" name="lat" id="lat" />
    経度: <input type="text" name="lng" id="lng" />
    <br/>
    heading: <input type="text" name="heading" id="heading" />
    pitch: <input type="text" name="pitch" id="pitch" />
    zoom: <input type="text" name="zoom" id="zoom" />
-->

  </body>
</html>
