<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=true"></script>
    <script src="javascripts/airsampo.js"></script>
    <title>エアーさんぽ。</title>
  </head>
  <body onload="record_initialize()">

    <!-- Navigation Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Air Sampo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/record">記録する</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">aaa@bbb.cc <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span1"></div>

        <div class="span8" style="margin-top: 50px;">
          <!-- Search -->
          <form class="form-search">
            <div id="searchDiv" class="input-append">
              <input type="text" id="txtSearch" class="span2 search-query" placeholder="Search">
              <button id="btnSearch" class="btn"><i class="icon-search"></i></button>
            </div>
            <input type="button" id="btnHere" class="btn" value="現在地"></input>
          </form>

          <!-- Map & StreetView -->
          <div id="view">
            <div class="row">
              <div id="streetview" class="span5"></div>
              <div id="map_canvas" class="span3"></div>
            </div>
          </div>

          <!-- Control Button -->
          <div id="control">
            <div style="margin-left: 21%; margin-top: 5px">
              <div style="float: left"><button name="btnRecord" id="btnRecord" class="btn btn-danger controlBtn" data-original-title="記録"><i class="icon-facetime-video icon-white"></i></button></div>
              <div style="float: left"><button name="btnPlay" id="btnPlay" class="btn btn-info controlBtn" disabled data-original-title="再生" disabled><i class="icon-play icon-white"></i></button></div>
              <div style="float: left"><button name="btnStop" id="btnStop" class="btn btn-primary controlBtn" disabled data-original-title="停止"><i class="icon-stop icon-white"></i></button></div>
              <span style="margin-top: 10px; float:left">　再生速度: </span>
              <div style="float: left"><div id="playSpeedSlider"></div></div>
              <div id="distance" style="float: left"></div>
              <div><img src="images/running.gif" id="running" style="display: none;"></img></div>
              <div style="clear: left"></div>
            </div>
            <div id="panoramaSlider"></div>
          </div>
          <div id="message" class="alert alert-error fade in" style="display:none; margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            再生データがありません。
          </div>

          <form method="POST" action="/save" id="saveForm" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">タイトル</label>
              <div class="controls">
                <input type="text" id="txtTitle" name="txtTitle" placeholder="Title">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">説明</label>
              <div class="controls">
                <textarea id="txtDescription" name="txtDescription" placeholder="Description"></textarea>
              </div>
            </div>
            <input type="button" id="btnSave" value="確定"></input>
          </form>

        </div>

        <!-- Side Bar -->
        <div class="span2" style="margin-top: 100px;">
          <div class="sbox">
            <h2 style="text-align:center;">おすすめ動画</h2>
            <div class="sboxInner">
              <ul class="unstyled">
                <li class="clearfix">
                  あんなとこ
                </li>
                <li class="clearfix">
                  こんなとこ
                </li>
              </ul>
              <div style="text-align: right"><a href="#">&raquo; もっと見る (123)</a></div>
            </div><!-- /sboxInner -->
          </div><!-- /sbox -->
        </div>

        <div class="span1"></div>
      </div>
    </div>

    <div id="footer" class="container">
      <ul>
        <li><a href="/privacy">プライバシーポリシー</a></li>
        <li>|</li>
        <li><a href="/rules">利用規約</a></li>
        <li>|</li>
        <li><a href="/about">エラーさんぽ。（仮）について</a></li>
      </ul>
    </div>

<!--
    <br/><hr/>
    緯度: <input type="text" name="lat" id="lat" />
    経度: <input type="text" name="lng" id="lng" />
    <button name="btnWrite" id="btnWrite" class="btn controlBtn"></button><textarea id="outputArea"></textarea>
    <br/>
    heading: <input type="text" name="heading" id="heading" />
    pitch: <input type="text" name="pitch" id="pitch" />
    zoom: <input type="text" name="zoom" id="zoom" />
-->

  </body>
</html>
