<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        initialize("rules");
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>
  <body>

    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container">
      <div class="row-fluid">
        <div class="span1"></div>
        <div id='rules-box' class="span10">
          <h1 class='left'>利用規約（仮）</h1>
          <div class="clear"></div>
          <div class='entry' style='color:#666'>
            <br />
            <h3>定義</h3>
            <p>
              本規約において使用する用語の定義は、以下のとおりとします。
              <p>
              <strong>「本サービス」</strong>
              <br />
              「みんなのDIY」の名称で提供する、画像投稿、コメントなどの投稿、共有サービス
            </p>
            <p>
              <strong>「当ウェブサイト」</strong>
              <br />
              ウェブサイト「エアーさんぽ。（仮）」(http://airsampo.c.node-ninja.com:3000)
            </p>
            <p>
              <strong>「利用者」</strong>
              <br />
              本サービスの利用を希望し、本規約に同意の上、アカウント登録を行った者
            </p>
            <p>
              <strong>「アカウント登録情報」</strong>
              <br />
              本サービスの提供を受けるために、利用者が登録した情報
            </p>
            <p>
              <strong>「個人情報」</strong>
              <br />
              登録情報のうち、単独または組み合わせで個人を特定できる情報
            </p>
            <p>
              <strong>「認証情報」</strong>
              <br />
              本サービスを利用するためのユーザー名、メールアドレス及びパスワード
            </p>
            <p>
              <strong>「退会」</strong>
              <br />
              アカウント登録を抹消し、本サービスの提供を終了すること
            </p>
            </p>
            <h3>アカウント登録について</h3>
            <p>
              利用者は、本規約の全てに同意した上でアカウント登録するものとします。
              登録の際に入力した個人情報については、当サイトが厳重に管理いたします。ご本人の同意なく、第三者に対し個人情報を開示することはいたしません。
              また、当サイトが従うべき法律に基づき公的機関から個人情報の開示を要求された場合、当サイトは、これに応じて情報を開示いたします。事業合併、吸収、などの営業譲渡が行われ、本サービスに関し当サイトの事業の承継が行われる場合、個人情報はかかる譲渡を受けた獲得者に移転されることになります。なお、一度アカウント登録された方であっても、当サイトのデータベースからご本人に関する個人情報の削除を希望される場合は、当サイトは速やかにこれに応じて情報を削除いたします。
            </p>
            <h3>アカウント登録情報の変更と管理</h3>
            <p>
              利用者は自己の責任によって、本サービスに登録したユーザー名、メールアドレスおよびパスワードの使用及び管理を行うものとし、認証情報を第三者に利用させたり、本サービスを第三者に利用させる目的で貸与、譲渡、売買、質入、公開等をすることはできません。
            </p>
            <p>
            認証情報の管理不十分による情報の漏洩、使用上の過誤、第三者の使用、不正アクセス等による損害の責任は利用者が負うものとし、当サイトは一切責任を負わないものとします。万一、ユーザー名、メールアドレスおよびパスワードが不正に利用されたことにより当サイトに損害が生じた場合、利用者は当該損害を賠償するものとします。
            </p>
            <h3>退会</h3>
            <p>
              利用者が退会を希望する場合には、利用者は、当サイト所定の方法により、当サイトに退会の申出を行うものとします。
              当サイトは、利用者が次の各号に掲げるいずれかの行為を行った場合には、当サイトの判断によって、利用者を強制的に退会させて本サービスの利用をお断りすることがあります。
              <ul>
                <li>本利用規約又はその他の利用規約等に違反した場合</li>
                <li>その他当事務局が不適切と判断した場合</li>
              </ul>
            </p>
            <h3>入力事項・投稿データに関する注意事項</h3>
            <p>
            <h4>アカウント登録について</h4>
              ユーザー名はサイト上に公開されます。
              自己紹介・ホームページURLはサイト上に公開されます。
              本サービスの主旨にふさわしくないと当サイトが判断したユーザー名・自己紹介・ホームページURLは削除する場合があります。
            </p>
            <p>
              <h4>投稿情報について</h4>
              著作権・肖像権の侵害に当たる写真、暴力的、ワイセツな写真、一般の方が不快に感じる画像やコメントなど、その他本サービスの主旨にふさわしくないと当サイトが判断した投稿情報は削除する場合があります。
            </p>
            <p>
              <h4>退会後の投稿データに関して</h4>
              退会後はその利用者が投稿したデータ、プロフィール、投稿コメントなど全ての情報が、当ウェブサイト上に表示されなくなり、退会された事を表す旨の説明が替わって掲載されます。
            </p>
            <p>
              <h4>著作権について</h4>
              当ウェブサイトに掲載されている個々の情報(文字、写真、イラスト等)、それから利用者が投稿した情報(コメント、プロフィールなどの文字)は著作権の対象となっています。
              また、本ウェブサイトの全体も編集著作権として、著作権の対象となっています。
              利用者が投稿した画像データに関しては、投稿した本人に著作権があります。
              著作権は日本国著作権法および国際条約により保護されています。
              したがって、当ウェブサイトの内容の全部または一部について、当サイトに無断で転載・使用することはできません。
            </p>
            <h3>禁止事項</h3>
            <p>
              利用者は、本サービスの利用にあたって、以下の行為を行ってはならないものとします。
              <ol>
                <li>第三者(自己以外の利用者、共同運営者及びコンテンツ提供者を含みます。以下本条において同様)もしくは当サイトの著作権、特許権、実用新案権、意匠権、商標権、肖像権、パブリシティ権、プライバシー権その他の権利を侵害する行為、及び侵害するおそれのある行為。</li>
                <li>自己以外の利用者、第三者もしくは当サイトを誹謗中傷する行為及び名誉・信用を傷つける行為。</li>
                <li>上記(1)、(2)の他、第三者もしくは当サイトに不利益又は損害を与える行為、及び与えるおそれのある行為。</li>
                <li>公序良俗に反する行為、又はそのおそれのある行為もしくは公序良俗に反する情報を他の不特定多数のものに対して送信、提供する行為。</li>
                <li>犯罪的行為、又は犯罪的行為に結び付く行為もしくはそのおそれのある行為。</li>
                <li>自分以外の人物を名乗ったり、代理権などがないにも拘わらず法人を名乗ったり、当該法人と提携・協力関係にあると偽る行為。</li>
                <li>選挙期間中であるか否かを問わず、選挙運動又はこれに類する行為。</li>
                <li>当サイトの承諾なく、本サービスを通じて又は本サービスに関連して、営利を目的とした行為又はその準備を目的とした行為。</li>
                <li>本サービス上の情報の権利者の承諾なく、第三者をして本サービス上の情報を使用させたり、公開させる行為。</li>
                <li>コンピュータウィルス等の有害なプログラムを、本サービスを通じて、又は本サービスに関連して使用し、もしくは提供する行為。</li>
                <li>本サービスに含まれるすべてのソフトウェアについて、分解、逆コンパイル又はリバースエンジニアリングする行為。</li>
                <li>本サービスの運営を妨害する行為。</li>
                <li>無限連鎖講(ネズミ講)もしくはマルチ商法に類する商法を開設し、又はこれを勧誘する行為。</li>
                <li>本人の同意を得ていない個人情報を投稿、登録する行為。</li>
                <li>その他、法令及びインターネット上において一般的に遵守されている規則などに違反する又は違反するおそれのある行為。</li>
                <li>その他、当サイトが不適切と判断する行為。</li>
              </ol>
              上記禁止事項に該当する利用者の行為によって当サイト及び第三者に損害が生じた場合、利用者は、本サービスの利用資格を喪失した後であっても、すべての法的責任を負うものとし、当サイトに迷惑をかけないものとします。
            </p>
            <h3>リンクについて</h3>
            <p>
              当ウェブサイトはリンクフリーです。ただし、下記の点にご留意下さい。
              <br />
              (リンクの許可を得る必要はありませんが、ご連絡いただければ幸いです。)
              <br />
              また個々のコンテンツにつきましても同様です。
              <ol>
                <li>当ウェブサイトへのリンクであることを明記して下さい。</li>
                <li>当ウェブサイトが他のウェブサイト中に組み込まれるような</li>
                (フレーム内に表示されるような)リンクはしないで下さい。
                <li>リンクをされる場合は、以下の内容をご記入の上、お問い合わせよりご連絡をお願いします。</li>
              </ol>
              <strong>内容</strong>
              <ul>
                <li>ウェブサイト管理者名</li>
                <li>ウェブサイト管理者メールアドレス</li>
                <li>ウェブサイト概要</li>
                <li>ウェブサイトアドレス</li>
                <li>ご連絡先</li>
              </ul>
            </p>
            </div>
          </div>
        </div>
        <div class="span1"></div>
      </div>
    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container"></div>

  </body>
</html>

