<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        initialize("signup", "<%= userName %>", "<%= message %>");
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container">
      <div class="row-fluid">
        <div class="span8 offset2">
          <div class="page-header">
            <h3 style="margin-top: 60px">新規ユーザー登録</h3>
          </div>
          <form method="post" action="/saveUser" id="saveUserForm" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">ユーザー名</label>
              <div class="controls">
                <input type="text" id="txtUserName" name="txtUserName" value="" class="" placeholder="name" required></input>
                <span class="help-inline">3文字以上の英数字（小文字のみ）、_を入力できます。</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">メールアドレス</label>
              <div class="controls">
                <input type="email" id="txtEmail" name="txtEmail" value="" class="" placeholder="e-mail" required></input>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">パスワード</label>
              <div class="controls">
                <input type="password" id="txtPassword" name="txtPassword" value="" class="" placeholder="password" required></input>
                <span class="help-inline">パスワードは6文字以上で入力してください。</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">パスワード（確認）</label>
              <div class="controls">
                <input type="password" id="txtPasswordConfirm" name="txtPasswordConfirm" value="" class="" placeholder="re-password" required></input>
                <span class="help-inline">確認のため、もう1度同じパスワードを入力してください。</span>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button id="btnSaveUser" id="btnSaveUser" class="btn-large btn-primary" data-original-title="ユーザー登録">ユーザー登録</button>
              </div>
            </div>
          </form>

          <div id="signupMessage" class="alert alert-error fade in" style="display:none; margin-top: 40px;">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        </div>
      </div>
    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container"></div>

  </body>
</html>

