html { height: 100%; }

body {
  height: 100%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 40px;
}


/*----------------------------------------------------
  トップ画面
----------------------------------------------------*/
div.hero-unit { padding: 40px; }
div.hero-unit h1 { padding: 15px 0 0 30px; font-size: 60px; }
div.hero-unit p { padding: 15px 0 0 30px; }

#startingCourse { height: 350px; }
#startingCourseContainer { margin-bottom:30px; }
#startingCourseContainer img {
  position: absolute;
  top: 8px;
  width: 40px;
}
#startingCourseContainer img:hover {
  cursor: pointer;
}

ul.thumbnails li { display: none; }
.thumbnail_course { width: 100%; height: 250px; }

#title { color: #555; text-align: left; }

#streetview #btnPlayCenter{ z-index: 2; position: absolute; }

#streetview #btnPlayCenter:hover {
  -webkit-transform:scale(1.04);
  -moz-transform:scale(1.04);
  -ms-transform:scale(1.04);
  -o-transform:scale(1.04);
  transform:scale(1.04);
}

#map img { max-width: inherit }
#description { color: #555; margin-bottom: 10px; }
#newArrivalList * { font-size: 12px; line-height: 1.8em; }
#searchDiv{ margin-top: 25px; }
#searchResult { margin-top: 40px; }

#btnHere {
  margin-top: 25px;
  margin-left: 10px;
  border-radius:         15px;
  -webkit-border-radius: 15px;
  -moz-border-radius:    15px;
}

#view { margin-top: 5px; }
#streetview { height: 350px; position: relative; }
#map_canvas { height: 350px; }

div.recording {
  position: relative;
  top: -10px;

  -webkit-box-shadow: -5px 10px 20px #F00;
  -moz-box-shadow: -5px 10px 20px #F00;
  -o-box-shadow: -5px 10px 20px #F00;
  box-shadow: -5px 5px 20px #F00;
}

a[id^="btnCourse"] {
  margin: 0 auto 0 auto;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}

a[id^="btnCourse"]:hover {
  -webkit-transform:scale(1.02);
  -moz-transform:scale(1.02);
  -ms-transform:scale(1.02);
  -o-transform:scale(1.02);
  transform:scale(1.02);
}

#control { height: 75px; overflow: hidden; background-color: black; }
.controlBtn { margin: 5px 0px 5px 5px; }
.controlBtn:hover {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

#playSpeedSlider { margin-left: 5px; margin-top: 13px; width: 110px; }

#controlRecord { height: 90px; overflow: hidden; background-color: black; }

.controlBtnRecord { margin: 12px 0px 5px 5px; }
.controlBtnLarge { margin: 5px 0px 5px 5px; }
.controlBtnLarge:hover {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

#playSpeedSliderRecord {
  margin-left: 5px;
  margin-top: 19px;
  width: 110px;
}

#btnSave:hover {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

#panoramaSlider { margin: 10px 25px 0 25px; }
#distance { margin: 10px; }
#saveForm { margin-top: 30px; }
#saveForm input:text { width: 200px; }

#searchResultContainer, #rankingContainer, #mycourseContainer { margin-top: 50px; }

span[class="help-inline"] { font-size: 12px; color: #888888; }

]/*----------------------------------------------------
  利用規約画面
----------------------------------------------------*/
#rules-box { margin-top: 50px; padding: 15px; border: solid 1px; }


/*----------------------------------------------------
  NavigationBar
----------------------------------------------------*/
#userDropdown { display: none; }


/*----------------------------------------------------
  Footer
----------------------------------------------------*/
#footer {
  background-color: #aaa;
  margin-top: 50px;
  padding-top: 10px;
  text-align: center;
  height: 30px;
  border-radius:         5px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
}

#footer ul {
  list-style-type: none;
}

#footer li {
  display: inline;
  margin: 20px 5px 5px 5px;
}

#footer * {
  font-size: 12px;
  color: #fff;
}


/*----------------------------------------------------
  SidebarBox
----------------------------------------------------*/
.sbox {
  margin:0 0 18px;
  border:1px solid #ddd;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px 3px;
  -webkit-box-shadow:inset 0 1px 0 #ffffff;
  -moz-box-shadow:inset 0 1px 0 #ffffff;
  box-shadow:inset 0 1px 0 #ffffff;
  position: relative;
}

.sboxBadge {
  position: absolute;
  top: -5px;
  right: 3px;
}

.sbox>h2, .sbox>h3 {
  background-color:#eee;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#eee));
  background-image:-moz-linear-gradient(top, #ffffff, #eee);
  background-image:-ms-linear-gradient(top, #ffffff, #eee);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eee));
  background-image:-webkit-linear-gradient(top, #ffffff, #eee);
  background-image:-o-linear-gradient(top, #ffffff, #eee);
  background-image:linear-gradient(top, #ffffff, #eee);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eee', GradientType=0);
  padding:0 8px;
  text-shadow:0 1px 0 #ffffff;
  line-height:25px;
  border-bottom:1px solid #ddd;
}

.sbox>.bottomMenu {
  background-color:#eee;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#eee));
  background-image:-moz-linear-gradient(top, #ffffff, #eee);
  background-image:-ms-linear-gradient(top, #ffffff, #eee);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eee));
  background-image:-webkit-linear-gradient(top, #ffffff, #eee);
  background-image:-o-linear-gradient(top, #ffffff, #eee);
  background-image:linear-gradient(top, #ffffff, #eee);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eee', GradientType=0);
  padding:0 8px;
  text-shadow:0 1px 0 #ffffff;
  line-height:28px;
  text-align:right;
  border-top:1px solid #ddd;
}

.sbox>h2 {
  font-size:12px;
}

.sbox h5 {
  font-size:12px;
}
.sbox>h3 {
  font-size:13px;
}

.sbox>p{
  padding:8px;
}

.sboxInner { padding:12px; }
.sboxInner button { width: 100%; }
.sboxInner ul { margin-bottom: 0; }
.sboxInner p { font-size: 12px; font-weight: normal; }

.sboxMenu {
  float:right;
  font-size:12px;
  padding:8px;
}

#btnSignup + p {
  padding: 5px;
  font-size: 12px;
  color: #666666;
}

/*----------------------------------------------------
  Animation
----------------------------------------------------*/
.animated {
  -webkit-animation-duration: 1.4s;
  -moz-animation-duration   : 1.4s;
  -o-animation-duration     : 1.4s;
  animation-duration        : 1.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode   : both;
  -o-animation-fill-mode     : both;
  animation-fill-mode        : both;
}
@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
  50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}