html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 40px;
}

.thumbnail_course {
  width: 100%;
  height: 200px
}

#title {
  color: #555;
  text-align: left;
}

#description {
  color: #555;
  margin-bottom: 10px;
}

#searchDiv{
  float: left;
}

#view {
  margin-top: 10px;
}

#map_canvas {
  height: 350px;
}

#streetview {
  height: 350px;
}

#control {
  height: 75px;
  overflow: hidden;
  background-color: black;
}

.controlBtn {
  margin: 5px 0px 5px 5px;
}

#playSpeedSlider {
  margin-left: 5px;
  margin-top: 13px;
  width: 110px;
}

#panoramaSlider {
  margin: 10px 25px 0 25px;
}

#distance {
  margin: 10px;
}